.overlay {
  background: $color_overlay1;
  border-radius: $borderMedium;
  backdrop-filter: $blurHard;
  -webkit-backdrop-filter: $blurHard;
  padding: 1rem 1rem 1rem 2rem;
}

.home-subheading {
  margin: 2rem 0;
}

.buttons {
  margin-bottom: 2rem;
  gap: 2rem;

  .dapp {
    background: $color_title;
  }

  .docs {
    background: $color_overlay1;
  }

  .dapp span {
    background: $color_tech;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.backed {
  a {
    padding: 1rem;
    border-radius: $borderSmall;
    transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  a:hover {
    background: $color_overlay1;
    transform: translateY(-0.25rem);
  }

  a:active {
    transform: scale(0.95);
  }
}

.inch {
  padding: 5px 1rem !important;
}
