.information {
  border-radius: $borderMedium;
  background: $color_overlay1;
  flex-direction: column;
}

.inactive {
  width: 100%;
}

.information {
  .container {
    justify-content: flex-start;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
  }
}

.getScore {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.highlights {
  flex-direction: column;
  width: auto;
}

@media screen and (max-width: $tablet) {
  .getScore {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: $mobile) {
  .cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
