footer {
  section {
    flex-direction: column;
    line-height: 1;
    color: $text-footnote;

    .logo {
      font-size: 2rem;
      color: inherit;
    }

    a {
      color: inherit;
    }

    .menu {
      display: flex;
      gap: 1rem;

      li {
        &::before {
          content: "•";
          margin-right: 1rem;
        }
      }

      :first-child::before {
        content: "";
        margin-right: 0;
      }
    }

    * {
      width: fit-content;
    }
  }
}
