footer {
  background: linear-gradient(transparent, $bg-main);

  @media screen and (max-width: $mobile-width) {
    font-size: 0.75rem;
  }
  section {
    flex-direction: column;
    line-height: 1;
    color: $text-body;

    p {
      line-height: 1.25;
    }

    .logo {
      font-size: 2rem;
      color: inherit;
    }

    a {
      color: inherit;
    }

    .menu {
      display: flex;
      gap: 1rem;

      li {
        &::before {
          content: "•";
          margin-right: 1rem;
        }
      }

      :first-child::before {
        content: "";
        margin-right: 0;
      }
    }

    * {
      width: fit-content;
    }
  }
}
