header {
  $duration: 0.4s;

  z-index: 3;
  position: fixed;
  top: 0;
  padding-top: 2rem;
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);

  transition: background $duration ease-in-out,
    backdrop-filter $duration ease-in-out,
    -webkit-backdrop-filter $duration ease-in-out,
    padding-top $duration ease-in-out;

  section {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .logo {
    fill: $color_title;
  }

  .underline:hover::after,
  .underline:focus::after {
    background: $color_callout;
  }
}

.scrolled {
  padding-top: 0;
  background: $color_backgroundAlpha;
  backdrop-filter: $blurHard;
  -webkit-backdrop-filter: $blurHard;
}
