.input {
  display: flex;

  .forTablet {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .blockchains {
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    z-index: 3;
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    background: $color_overlay1;
    padding: 0.5rem 0.5rem 0.5rem 3.5rem;
    border-radius: $borderSmall;
    max-height: 3.5rem;
    overflow: hidden;
    height: fit-content;
    min-width: fit-content;
    position: absolute;

    transition: background 0.2s ease-in-out, ease-in-out,
      max-height 0.4s ease-in-out;

    .expand {
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0.75rem;
      left: 1rem;
      width: 2rem;
      height: 2rem;
      background: $color_overlay1;
      border-radius: 50%;
      cursor: pointer;

      transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;

      &::before {
        content: "expand_more";
        margin-bottom: -0.125rem;
      }

      &:hover {
        background: $color_overlay2;
      }

      &:active {
        background: $color_overlay3;
        transform: scale(0.95) rotate(45deg);
      }
    }

    .blockchainActive {
      z-index: 2;
      padding: 0.5rem 0.75rem 1rem 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      border-radius: calc($borderSmall - 0.5rem);
      transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
      cursor: pointer;
      border-radius: 0;
      border-bottom: 1px solid $color_border;
      margin-bottom: 0.5rem;

      img {
        $size: 1.5rem;
        width: $size;
        height: $size;
        border-radius: 999px;
      }
    }

    .blockchain {
      z-index: 2;
      padding: 0.5rem 0.75rem 0.5rem 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      border-radius: calc($borderSmall - 0.5rem);
      transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        background: $color_overlay1;
      }

      &:active {
        background: $color_overlay2;
        transform: scale(0.95);
      }

      img {
        $size: 1.5rem;
        width: $size;
        height: $size;
        border-radius: 999px;
      }
    }
  }

  .container {
    align-items: flex-start;
    min-width: 100%;
    padding: 1rem;
    position: relative;

    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 5.5rem;
      width: 100%;
      background: $color_overlay1;
      border-radius: $borderMedium;
    }

    .overlay {
      visibility: none;
      display: block;
      z-index: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: $color_background;
      border-radius: 0;
      opacity: 0;

      transition: opacity 0.2s ease-in-out;
    }

    .isLoading {
      opacity: 1 !important;
      transform: translateY(-50%) !important;
    }

    .loading {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      top: 50%;
      right: 9.6px;
      border-radius: 999px;
      background: $color_informationTint;
      color: $color_informationLight;
      backdrop-filter: blur(1rem);
      opacity: 0;
      transform: translateY(calc(-50% + 0.5rem));
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

      &::before {
        content: "sync";
        font-family: $fontIcon;
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: "liga";
        -webkit-font-smoothing: antialiased;
        margin: -0.125rem 0.25rem -0.125rem 0;
        animation: rotation 1s ease-in-out infinite;

        @keyframes rotation {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  .inputWrapper {
    $blockchainsSize: 183.44px;

    z-index: 1;
    position: relative;
    width: 100%;
    margin-left: calc($blockchainsSize + 1rem);
  }

  input {
    z-index: 2;
    width: 100%;
    height: 3.5rem;
    padding: 0 1.5rem;
    background: $color_overlay1;
    border-radius: $borderSmall;
    border: 0;

    transition: background 0.2s ease-in-out;

    &:hover {
      background: $color_overlay2;
    }

    &:focus {
      background: $color_overlay3;
    }
  }

  button {
    z-index: 2;
    outline: none;
    border: none;
    min-width: fit-content;
    height: 3.5rem;
    border-radius: $borderSmall;
    font-size: 1.25rem;
  }

  .active.overlay {
    visibility: visible;
    z-index: 2;
    opacity: 0.75;
  }

  .blockchains.active {
    max-height: 999px;

    .expand {
      transform: rotate(180deg);

      &:active {
        transform: scale(0.95) rotate(135deg);
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .input {
    .container {
      flex-direction: column;

      &::before {
        height: 10rem;
      }
    }

    .inputWrapper {
      margin-left: 0;
    }

    .forTablet {
      margin-top: 4.5rem;
    }

    .blockchains {
      width: calc(100% - 2rem);
    }
  }
}

@media screen and (max-width: $mobile) {
  .forTablet {
    flex-direction: column;
  }
  .input {
    .container::before {
      height: 14.5rem;
    }
  }
}
