.UserAddress {
  position: relative;
  line-height: 1;
  width: 100%;

  h4 {
    padding: 0.5rem 1rem;
    background: $bg-overlay-1;
    border-radius: $border-s;
    width: fit-content;
    cursor: pointer;
    margin: auto;

    transition: background $fast, transform $fast, color $fast;

    &:hover {
      background: $bg-overlay-2;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .notify {
    font-size: 0.75rem;
    color: $text-footnote;
    opacity: 0;
    position: absolute;
    bottom: -1.25rem;
    left: 0;
    right: 0;
    text-align: center;
    color: $information-light;

    transition: opacity $fast, bottom $fast;
  }

  &.copied {
    .notify {
      opacity: 1;
      bottom: -1rem;
    }

    h4 {
      background: $information-tint;
      color: $information-light;
    }
  }
}

.mobile {
  .bio {
    gap: 1rem;
  }
  .meta {
    gap: 0.5rem;
    align-items: flex-start;

    .UserAddress {
      width: fit-content;

      h4 {
        padding: 0;
        background: none;
        font-size: 1rem;
      }

      .notify {
        bottom: 50%;
        right: 0;
        transform: translate(calc(100% + 0.5rem), 50%);
        white-space: nowrap;
        width: fit-content;
      }
    }
  }
}
