.wallet {
  overflow: hidden;
  position: sticky;
  top: 4.5rem;
  min-width: 30%;
  max-width: 30%;
  width: 30%;
  flex-direction: column;
  gap: 2rem;
  border-radius: $borderMedium;
  background: $color_overlay1;
  padding: 1rem;
  min-height: 521.891px;
  justify-content: flex-end;
}

@media screen and (max-width: $tablet) {
  .wallet {
    position: unset;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    transition: all 0.4s ease-in-out;
  }
}
