<<<<<<< HEAD
$borderSmall: 12px;
$borderMedium: 28px;
$borderLarge: 44px;

=======
$borderSmall: 12px;
$borderMedium: 28px;
$borderLarge: 44px;

>>>>>>> 1adbfdf (Improvements)
$blurHard: blur(2rem) brightness(1.5);