@import "./colors.scss";
@import "./layout.scss";
@import "./typography.scss";
@import "./effects.scss";

@import "./modules/header.scss";
@import "./modules/footer.scss";

@import "./modules/home.scss";
@import "./modules/score.scss";

@import "./modules/scrollbar.scss";
@import "./modules/blurredBg.scss";
@import "./modules/card.scss";
@import "./modules/wallet.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: $color_background;
}

nav {
  ul {
    list-style: none;
    display: flex;
    $padding: 1rem;
    gap: 1rem;
  }
}

main {
  .underline:hover::after,
  .underline:focus::after {
    background: $color_callout;
  }
}

.paragraph {
  gap: 0.5rem;
}
