@import "./colors.scss";
@import "./layout.scss";
@import "./typography.scss";
@import "./effects.scss";

@import "./components/header.scss";
@import "./components/footer.scss";

@import "./pages/home.scss";
@import "./pages/score.scss";

@import "./components/recent.scss";
@import "./components/scrollbar.scss";
@import "./components/blurredBg.scss";
@import "./components/card.scss";
@import "./components/wallet.scss";
@import "./components/user.scss";
@import "./components/useraddress.scss";
@import "./components/usermeta.scss";
@import "./components/stats.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: $color_background;
}

nav {
  ul {
    list-style: none;
    display: flex;
    $padding: 1rem;
    gap: 1rem;
  }
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

main {
  .underline:hover::after,
  .underline:focus::after {
    background: $color_callout;
  }
}

.paragraph {
  gap: 0.5rem;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  width: fit-content;
}
