@import "../styles/typography.scss";
@import "../styles/themes.scss";
@import "../styles/colors.scss";
@import "../styles/layout.scss";
@import "../styles/effects.scss";

@import "../styles/components/index.scss";
@import "../styles/pages/index.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

ul {
  list-style: none;
}

body {
  color: $text-body;
}
