$max-width: 1440px;
$mobile-width: 600px;

body {
  background: $bg-main;
}

header,
main,
footer {
  display: flex;
  justify-content: center;
}

header,
footer {
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: $max-width;
}

section {
  display: flex;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

main {
  min-height: 60vh;
  align-items: flex-start;
}
