$maxWidth: 1400px;
$mobile: 420px;
$tablet: 960px;

$borderSmall: 0.75rem;
$borderMedium: calc($borderSmall + 1rem);
$borderLarge: calc($borderSmall + 2rem);
$borderXLarge: calc($borderSmall + 3rem);

header,
main,
article,
footer,
article,
.wrapper,
section,
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

section {
  padding: 1rem;
}

.wrapper {
  max-width: $maxWidth;
}

.start {
  justify-content: flex-start;
}

.column {
  flex-direction: column;
}

.column.start {
  align-items: flex-start;
}

.fit {
  width: fit-content;
}

.two {
  flex: 50%;
}

.three {
  flex: calc(100% / 3);
}

.four {
  flex: 25%;
}

header {
  z-index: 3;
  position: fixed;
  top: 0;
}

main {
  margin-top: 2.5rem;
  padding: 4rem 0;
}

footer {
  padding-bottom: 2rem;
}

@media screen and (max-width: $tablet) {
  footer {
    padding-bottom: 1rem;
  }
  main {
    padding: 2rem 0;
  }
}

@media screen and (max-width: $mobile) {
  footer {
    padding-bottom: 0;
  }
  main {
    padding: 0;
  }
}
